td {
	text-align: left;
	vertical-align: top;
	font-family:Arial;
	font-size:12px;
	color:#806C59;
}

form
{
	margin:0px;
}

a {
	font-family:Arial;
	font-size:13px;
	text-decoration: none;
	font-weight: bold;
	color:#596F80;
}

p {
	font-family:Arial;
	font-size:12px;
	text-decoration: none;
	font-weight: bold;
	color:black;
}

ul {
	font-family:Arial;
	font-size:12px;
	text-decoration: none;
	font-weight: bold;
	color:black;
}

li {
	font-family:Arial;
	font-size:12px;
	text-decoration: none;
	font-weight: bold;
	color:black;
}

A:Hover  {
	color : #596F80;
	text-decoration : underline;
	cursor: pointer;
}

H1 {
	color: #596F80;
	font-weight: bold;
	font-size : 16px;
}

#bg-image {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(liftEvac.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.active {
background: yellow;
text-decoration: underline;
color: blue;
}
